<li onclick="showMarker(this)" data-lat="<%= event.latitude %>" data-lng="<%= event.longitude %>">
  <div class="border-bottom py2 pointer">
    <span class="caps">
      <%= event.summary %>
    </span>
    <span class="right"><%= event.start %> - <%= event.end %></span>
  </div>
</li>
