<li onclick="showMarker(this)" data-lat="<%= event.latitude %>" data-lng="<%= event.longitude %>">
  <div class="item border-bottom clearfix">
    <span class="item-title">
      <%= event.summary %>
    </span>
    <span class="right date"><%= event.startDate %> - <%= event.endDate %></span>
  </div>
</li>
